## 練習時間
假設我們資料中類別的數量並不均衡，在評估準確率時可能會有所偏頗，試著切分出 y_test 中，0 類別與 1 類別的數量是一樣的 (亦即 y_test 的類別是均衡的)

In [110]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, KFold
X = np.arange(1000).reshape(200, 5)
y = np.zeros(200)
y[:40] = 1

In [111]:
y

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

可以看見 y 類別中，有 160 個 類別 0，40 個 類別 1 ，請試著使用 train_test_split 函數，切分出 y_test 中能各有 10 筆類別 0 與 10 筆類別 1 。(HINT: 參考函數中的 test_size，可針對不同類別各自作切分後再合併)

In [112]:
X = pd.DataFrame(data=X, columns=["A", "B", "C", "D", "E"])

In [113]:
X.head(10)

    A   B   C   D   E
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
5  25  26  27  28  29
6  30  31  32  33  34
7  35  36  37  38  39
8  40  41  42  43  44
9  45  46  47  48  49

In [126]:
def custom_split(X, y, train_size, pos_class_size, random_state=42):
    neg_class_size = train_size - pos_class_size
    
    pos_df = X[y == 1]
    neg_df = X[y == 0]
    
    pos_test = pos_df.sample(pos_class_size, random_state=random_state)
    pos_train = pos_df[~pos_df.index.isin(pos_test.index)]

    neg_test = neg_df.sample(neg_class_size, random_state=random_state)
    neg_train = neg_df[~neg_df.index.isin(neg_test.index)]

    X_train = pd.concat([pos_train,neg_train])
    X_test = pd.concat([pos_test,neg_test])

    y_train = y[X_train.index]
    y_test = y[X_test.index]
    
    X_train = X_train.values
    X_test = X_test.values

    return X_train, X_test, y_train, y_test

In [127]:
X_train, X_test, Y_train, Y_test = custom_split(X, y, train_size=20, pos_class_size=10)

In [128]:
Y_test

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0.])